.authPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: calc(100vh - var(--ContentPadding) * 2);
}

.doNotHaveWrapper {
    display: flex;
    justify-content: center;
    font-size: 14px;
}