:root {

  /* Colours */
  --BackgroundColor: 245, 245, 245;
  --NavbarBackgroundColor: 237, 242, 245;
  --PrimaryColor: 34, 138, 186;
  --SecondaryColor: 120, 179, 206;
  --DarkGray: 125, 130, 120;
  --ErrorColor: 245, 66, 102;

  /* Variables */
  --NavbarWidth: 70px;
  --Radius: 20px;
  --TilePadding: 22px;
  --ContentPadding: 40px;
  --InputHeight: 40px;

  /* Animations */
  --ModalAnimation: 400ms;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Titillium Web", sans-serif !important;
  background-color: rgb(var(--Background));
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.headerTitle {
  font-size: 32px;
  font-weight: 600;
}

.headerSubtitle {
  font-size: 26px;
}

/* ------------------------------------------------------------------------------------------------------ Gaps */
.spacer-h-xs { height: 5px; }
.spacer-h-s { height: 10px; }
.spacer-h-m { height: 15px; }

/* ------------------------------------------------------------------------------------------------------ Width and Hight */
.w-full { width: 100% !important; }

/* ------------------------------------------------------------------------------------------------------ Tiles */
.tileWrapper{
  background-color: rgba(var(--NavbarBackgroundColor), 1);
  box-shadow: 0px 2px 8px 0px rgb(206, 206, 206); /* PORAZMISLITI */
  height: fit-content;
  border-radius: var(--Radius);
  padding: var(--TilePadding);
}

/* ------------------------------------------------------------------------------------------------------ Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--PrimaryColor), 0.8)
}