.wrapper {
    width: var(--NavbarWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgb(206, 206, 206);
    background-color: rgb(var(--NavbarBackgroundColor));
    height: 100%;
    padding: 18px;

    position: relative; 
}

.logo {
    margin-bottom: 30px;
    opacity: 0.65;
}

.optionWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    aspect-ratio: 1;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.topWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
}

.option {
    font-size: 38px;
    opacity: 0.65;
    transition: color 0.3s ease;
}

.option:hover {
    color: rgba(var(--SecondaryColor), 1);
    opacity: 1;
    cursor: pointer;
}

.hoverText {
    position: absolute;
    left: 60px;
    top: 50%; 
    transform: translateY(-50%); 
    background: rgba(var(--SecondaryColor), 1); 
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; 
}

.optionWrapper:hover .hoverText {
    opacity: 1;
    visibility: visible;
}

.selectedOption {
    color: rgba(var(--PrimaryColor), 1);
    opacity: 1;
}

.selectedOption:hover {
    color: rgba(var(--PrimaryColor), 1);
    opacity: 1;
}