.wrapper {
    width: 350px;
    display: grid;
    gap: 8px;
}

.rowWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: auto;
    gap: 8px;
}

.inputWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
}

.monthDayWrapper {
    width: 82px;
    display: flex;
}