:root {
  /* Colours */
  --BackgroundColor: 254, 254, 254;
  --PrimaryColor: 234,185,150;
  --SecondaryColor: 203,118,102;
  --DarkGray: 125, 130, 120;

  /* Variables */
  --NavbarHeight: 60px;
  --ContentPadding: 40px;
  --InputHeight: 40px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Parkinsans", sans-serif;
  background-color: rgb(var(--Background));
}

a {
  color: inherit;
  text-decoration: none;
}

.paymentTitle {
  font-size: 32px;
  font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------------ Gaps */
.spacer-h-xs { height: 5px; }
.spacer-h-s { height: 10px; }
.spacer-h-m { height: 15px; }

/* ------------------------------------------------------------------------------------------------------ Width and Hight */
.w-full { width: 100% !important; }