.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: calc(-1 * var(--NavbarHeight));
}

.content {
    overflow-y: auto; 
    overflow-x: hidden;
    height: calc(100vh - var(--NavbarHeight));
    margin-top: var(--NavbarHeight);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}