.wrapper {
    height: var(--NavbarHeight);
    padding: 20px 25px;
    background-color: rgb(var(--PrimaryColor));
    color: rgb(var(--OnPrimaryColor));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(187, 187, 187, 1);
}

.title {
    font-size: 26px;
    font-weight: 600;
}